.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;
    padding: 1rem;
    margin-right: 1rem;
    height: 7rem;
    background-color: #f3f3f3;
    border: .1rem #dddddd solid;
    border-radius: .5rem;
}
.subtotal_gift{
    display: flex;
    align-items: center;
}
.subtotal_gift>input{
    margin-right: .5rem;
    cursor: pointer;
}
.subtotal>button{
    font-size: .8rem;
    background-color: #f0c14b;
    border: 1px #c88734 #9c7e31 #846a29 solid;
    padding: .2rem;
    margin-top: .5rem;
    cursor: pointer;
}